.env
.venv
env/
venv/
.venv_new
venv_new/
.venv_3
venv_3/
ENV/
env.bak/
venv.bak/
requirements_old.txt
secret_testing
secret_testing/
.secret_testing

Alex_Tests/
Alex_Testing/
myenv/
.myenv
__pycache__/
.__pycache__

myenv-local-only/
.WebFlow.ipynb

WebFlow.ipynb
